 {
  outline: red 1px solid;
}

body {
  /*background:url('../images/ipad-content.jpg') no-repeat;*/
  padding-top: 20px;
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  background-color: #F5F3EE;
}

/*//////////////////////////////*/
/* DIRECTIONS///////////////////*/
/*/////////////////////////////*/

.directions-contain {
  
  position: absolute;
  top: 30px;
  left: 775px;
  
  height: 60px;
  width: 225px;

  background-color: #E44424;

  border-radius: 7px;

  display: none;

}

.direcOL {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 75%;

  color: white;

  padding-left: 5px;
  padding-top: 10px;

}

/*//////////////////////////////*/
/* DIRECTIONS///////////////////*/
/*/////////////////////////////*/

.shopbox {
  position: inherit;

  height: 555px;
  width: 350px;
  /*padding-top: 40px; /*FOR EDITING*/
  /*padding-top: 25%; FOR BACKGROUND*/

  border: 2px solid #787878;
  border-radius: 10px;

  margin-left:auto ;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  
  
}
.header-contain {
  height: 56px;
  width: 350px;

  padding-top: 20px;

  background-color: #4A96AD; 
  display: inline-block;
  border-radius: 7px 7px 0px 0px;
  /*border: 4px solid white;*/
}

h2 {
  padding-top: 15px;
  text-align: center;

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /*padding-bottom: 40px;

  /*border:2px solid;*/

  background-color: #4A96AD; 
  color: white;
}

h6 {

  text-align: center;

  font-family: "Trebuchet MS", Helvetica, sans-serif;  
  color: #E44424;
  font-size: 85%;

  cursor: pointer;


}
form {
  
}
.input-contain {
  height: 40px;
  width: 341px;
  
  /*margin-left:auto ;
  margin-right: auto;
  
  padding-bottom: 5px;*/
  padding-top: 10px;
  padding-left: 5px;

  border-radius: 0px 0px 7px 7px;
  border: 2px solid white;
  background-color: #F5F3EE;


}

#listItem {
  /*background: transparent;*/
  margin-left:auto ;
  margin-right: auto;
  /*margin-bottom: -20px;
  margin-top: -50px;*/
  height: 25px;
  width: 250px;
  border-radius: 4px;
  padding-left: 10px;

}

#addList {

  border : solid 0px #ffffff;
  border-radius : 2px 3px 3px 3px ;
  moz-border-radius : 2px 3px 3px 3px ;
  -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
  -moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
  box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
  font-size : 16px;
  color : white;/*#e44424;*/
  padding : 1px 13px;
  background-color : #4A96AD;

}

.appendLiItem {
  height: 20px;
  padding-top: 10px;
  padding-bottom: 5px; 
  margin-top: auto;
  margin-bottom: auto;
  
  border-radius: 5px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;

  background-color: #4A96AD;
  color: white;

  font-family: "Trebuchet MS", Helvetica, sans-serif;

  }

.appendLiItem:hover {
  background: #A2AB58;
  opacity: 0.7;
  /*color: #A2AB58;*/


}


#uList {
  list-style-type: none; 
  margin: 0; 
  padding: 5px; 
  /*width: 200px; */

}


.currentList {

}

#chkBox{
  /*width: 25px;
  height: 0px;
  padding: 0 10px 0 0;*/
   display: block;
  clear: left;
  float: left;

}

#del {
  /*width: 25px;
  height: 0px;*/
  /*padding: 10px 10px 10px 10px;*/
  display: block;
  clear: right;
  float: right;



}

/*////////////////////////////////////////////////////////////////////
//////////////Styling Input Checkbox//////////////////////////////////
////////////////////////////////////////////////////////////////////*/

input[type=checkbox] {
  height: 10px;
  border:1px solid #B5B7B8;
  font: 14px/26px 'pt-sans', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  padding: 7px 7px 7px 12px;
  /*margin:0 0 30px 0;*/
  background:#FFF;
  border:1px solid #d5d5d6;
  outline:none;
  color:#96999D;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);        
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;  

 }

input[type=checkbox]:checked {
    background-color: #E44424;
}

input[type=checkbox]:hover {
    box-shadow:0px 0px 10px #E44424;

}

/*////////////////////////////////////////////////////////////////////
//////////////Delete list Items with Trash Can Icon///////////////////
////////////////////////////////////////////////////////////////////*/
.delForm {

  height: 30px;
  width: 346px;

  background-color: #4A96AD; 
  border-radius: 7px;
  
  border: 2px solid white;


}

.delForm:hover {
  background: #E44424;
  opacity: 0.7;
  

 

}

#trashcanBtn {
  padding-top: 5px;

  clear: both;
  float: right;
  border-radius: 7px;


}

#trashcanBtn:hover {

}


.trashLbl {
  height: 11px;
  width: 74px;
  padding-left: 0px;
  
  cursor: pointer;
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;

  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 65%;

  color: white;
  display: inline;
  position: relative;
    top: 10px;
    left: 240px;
  

  /*display: none;*/
  /*-webkit-transition: color .25s ease;
     -moz-transition: color .25s ease;
      -ms-transition: color .25s ease;
       -o-transition: color .25s ease;
          transition: color .25s ease;*/
}

.trashLbl:hover {

  font-weight:bold;
  color: #A2AB58;
  font-size: 75%;
}

