 *{
  outline: red 1px solid;
}

body {
  /*background:url('../images/ipad-content.jpg') no-repeat;*/
  padding-top: 40px;
}
.shopbox {
  height: 500px;
  width: 350px;
  padding-top: 40px; /*FOR EDITING*/
  /*padding-top: 25%; FOR BACKGROUND*/

  border:2px solid;
  border-radius: 10px;

  margin-left:auto ;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  
}

p {
  text-align: center;
  padding-bottom: 40px;

  /*border:2px solid;*/

  background-color: #FF5050; 
}
.input-contain {
  height: 30px;
  width: 300px;
  margin-left:auto ;
  margin-right: auto;
  padding-bottom: 5px;

  /*margin-right: auto;
  margin-left: auto;*/
}
#listItem {
  background: transparent;
  margin-left:auto ;
  margin-right: auto;
  /*margin-bottom: -20px;
  margin-top: -50px;*/
  height: 25px;
  width: 250px;
  /*padding: 5px 5px 5px 5px;*/

}

li {
  height: 20px;
  padding-bottom: 5px; 
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;


  }

li:hover {
  background:#0066CC;
  opacity: 0.7;


}

#uList {
  list-style-type: none; 
  margin: 0; 
  padding: 5px; 
  /*width: 200px; */

}


.currentList {

}

#chkBox{
  /*width: 25px;
  height: 0px;
  padding: 0 10px 0 0;*/
   display: block;
  clear: left;
  float: left;

}

#del {
  /*width: 25px;
  height: 0px;*/
  /*padding: 10px 10px 10px 10px;*/
  display: block;
  clear: right;
  float: right;



}

/*#boxCheck {
  display: none;
  width: 30px;
  height: 50px;
  padding: 0 5px 0 0;
  background: url('../images/empty-checkbox.png') no-repeat;
  display: block;
  clear: left;
  float: left;

}*/

